$lion: #BF936Cff;
$peach-yellow: #F7DCA2ff;
$silver-lake-blue: #628EB8ff;
$dark-moss-green: #54661Bff;
$eerie-black: #111B0Cff;
$pearl: #CECFB3ff;
$lemon-chiffon: #E9EAC5ff;
$steel-blue: #0F83D1ff;
$coral: #E18559ff;
$atomic-tangerine: #F48C5Fff;