$lion: #bf936cff;
$peach-yellow: #f7dca2ff;
$silver-lake-blue: #628eb8ff;
$dark-moss-green: #54661bff;
$eerie-black: #111b0cff;
$pearl: #cecfb3ff;
$lemon-chiffon: #e9eac5ff;
$steel-blue: #0f83d1ff;
$coral: #e18559ff;
$atomic-tangerine: #f48c5fff;
